cimport write
import prepare
from libc.stdio cimport fopen, fclose, fseek, SEEK_END, rewind, ftell, fread, FILE, fwrite
from libc.stdlib cimport malloc


ctypedef long long long64
ctypedef unsigned long long ulong64

cpdef serialize(data, output):
    cdef bytearray buffer = bytearray()
{{ serialization_code(schema, 'data', 'buffer')|indent(4, True) }}
    output.write(buffer)
