{%  for type_, number_code, serialization_code in types %}
{%  if loop.first %}if{%  else %}elif{% endif %}{% if type_ == 'null' %} '{{ name }}' not in {{ location }}{% elif type_ == 'string' %} type({{ location }}['{{ name }}']) is str{% else %} type({{ location }}['{{ name }}']) is {{ type_ }}{% endif %}:
    {{ number_code }}
    {{ serialization_code }}
{% endfor %}