datum = {{ location }}

if len(datum) > 0:
    {{ write_prefix }}write.write_long({{ buffer_name }}, len(datum))
    for {{ key_name }}, {{ val_name }} in datum.items():
        {{ write_prefix }}write.write_string({{ buffer_name }}, {{ key_name }})
        {% for t in schema['values'] %}
        {{ correct_constraint(t, schema['values'], location, key_name, loop.first, val_name) }}
            {{ write_prefix }}write.write_long({{ buffer_name }}, {{ loop.index0 }})
            {{ generate_serialization_code(t, val_name)|indent(12) }}
        {% endfor %}
{{ write_prefix }}write.write_long({{ buffer_name }}, 0)
