cimport write
import prepare


cpdef serialize({{ location }}, output):
    cdef bytearray {{ buffer_name }} = bytearray()
{{ cdefs |indent(4, True)}}
{{ serialization_code|indent(4, True) }}
    output.write({{ buffer_name }})
