{%  for type_, number_code, serialization_code in types %}
{{ correct_constraint(type_, types, location, name, loop.first, value) }}
    {{ number_code }}
    {{ serialization_code | indent(4)}}
{% endfor %}